<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
	<title>Raspberry Pi - Security Camera - {{camera_name}}</title>
        <style type="text/css">
        .main { width: 100%; height: 600px; position: relative; }
        .video-feed { position: absolute; left: 0; top: 0; width: 100%; text-align: center; }
        .video-feed img { height: 600px; }
	.login { width: 100%; text-align: center; 
        </style>
</head>
<body>
        <div class="main">
		<form class="login" action="" method="post">
			<label>Pin: <input type="password" name="pin" value=""></label>
			<button>Login</button>
		</form>
	</div>
</body>
